[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
requests = "*"
scipy = "*"
statsmodels = "*"
praw = "*"
coingecko-sdk = "*"
tweepy = {extras = ["async"], version = "*"}
neo4j = "*"
fastapi = "*"
pydantic = "*"
sse-starlette = "*"
uvicorn = "*"
PyPDF2 = "*"
beautifulsoup4 = "*"
ollama = "*"
langchain-ollama = "*"
langchain-neo4j = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.11"
